.navbar-container {
  background-color: #2c0e3a;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.website-logo {
  height: 70px;
}
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  height: 40px;
  width: 40px;
  margin: 0px;
  padding: 0px;
}
.score {
  color: white;
  margin: 0px;
  padding: 0px;
  margin-right: 30px;
}
.para {
  color: #fec653;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}
